<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Facebook</title>
	<link rel="stylesheet" type="text/css" href="bower_components\bootstrap\dist\css\bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="style/styles.css">
</head>
<body ng-app="myApp" ng-controller="mainCtrl">
	<div infinite-scroll="loadFeed()" infinite-scroll-distance="3">
		<nav class="navbar navbar-fixed-top navbar-default">
  			<div class="navbar-header">
	      			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        		<span class="sr-only">Toggle navigation</span>
	        		<span class="icon-bar"></span>
	        		<span class="icon-bar"></span>
	        		<span class="icon-bar"></span>
	      			</button>
	     			<a class="navbar-brand" href="#"><img src="static-data\facebook-logo-png-38362.jpg" class="logo" /></a>
    			</div>
    			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      			<div class="col-sm-5">
		    			<div class="input-group">
		      				<input type="text" class="form-control" placeholder="Search Facebook">
		      					<span class="input-group-btn">
		        					<button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
		      					</span>
		    			</div>
	  				</div>
	      			<ul class="nav navbar-nav navbar-right right-nav">
				      	<li><img ng-src="static-data/{{userInfo[0].DP}}" width="30px" height="30px"></li>
				        <li><a href="#">{{userInfo[0].firstName}}</a></li>
				        <li><a href="#">Home</a></li>
				        <li><a href="#"><img src="static-data/friend-request.png" class="icon" /></a></li>
				        <li><a href="#"><img src="static-data/message.ico" class="icon" /></a></li>
				        <li><a href="#"><img src="static-data/notif.png" class="icon" /></a></li>
				        <li><a href="#"><i class="glyphicon glyphicon-question-sign"></i></a></li>
				        <li><a href="#"><i class="glyphicon glyphicon-triangle-bottom"></i></a></li>
	      			</ul>
    			</div>
 			
		</nav>
		<div class="container col-sm-12">
		<div class="row">
		<div class="col-sm-2 first">
			<div class="affix col-sm-2">
				<div class="list-group">
					<a href="#" class="list-group-item"><img ng-src="static-data/{{userInfo[0].DP}}" width="20px" height="20px"><span>&nbsp &nbsp{{userInfo[0].firstName+" "+userInfo[0].lastName}}</span></a>
					<a href="#" class="list-group-item">News Feed</a>
					<a href="#" class="list-group-item">Messenger</a>
					<b>EXPLORE</b>
					<a href="#" class="list-group-item">Events</a>
					<a href="#" class="list-group-item">Pages</a>
					<a href="#" class="list-group-item">Groups</a>
					<a href="#" class="list-group-item">Pokes</a>
					<a href="#" class="list-group-item">Friend List</a>
					<a href="#" class="list-group-item">Pages Feed</a>
					<b>CREATE</b>
					<a href="#" class="list-group-item">Advert</a>
					<a href="#" class="list-group-item">Page</a>
				</div>
			</div>
		</div>
		<div class="col-sm-5 second">
			<div class="status">
				<div class="status-content row">
					<div class="col-sm-1">
						<img ng-src="static-data/{{userInfo[0].DP}}" width="50px" height="50px">
					</div>
					<div class="col-sm-11">
						<input type="text" placeholder="What's on your mind?">
					</div>
				</div>
				<hr>
				<div>
					<button class="status-button">Photo/Video</button>
					<button class="status-button">Feeling/Activity</button>
				</div>
			</div>
			<br>

			<div id="con">
				<div class="card" ng-repeat="news in newsFeed track by $index">
					<div class="card-header row">
						<div class="col-sm-2">
							<img ng-src="static-data/{{news.DP}}" width="50px" height="50px" />
						</div>
						<div class="col-sm-9">
							<a href="#" style="font-size: 18px;">{{news.name}}</a><br>
							<small>{{news.time}} hrs</small>
						</div>
					</div>
					<div class="card-content">
						<p>{{news.status}}</p>
						<img ng-src="static-data/{{news.image}}" class="content-image col-sm-10"/><br>
						<img src="static-data/like.png" width="20px" height="20px"/>
						<small>{{news.Like}}</small>
						<span style="float: right;">
							<small>{{news.Comment}} Comments &nbsp</small>
							<small>{{news.Share}} Shares</small>
						</span>
					</div>
					<hr>
					<div class="card-footer row">
						<div class="col-sm-2">
							<a href="#">
								<div class="row">
									<span class="glyphicon glyphicon-thumbs-up col-sm-1"></span>
									<p class="col-sm-1">Like</p>
								</div>
							</a>
						</div>
						<div class="col-sm-2">
							<a href="#">
								<div class="row">
									<span class="glyphicon glyphicon-comment col-sm-1"></span>
									<p class="col-sm-1">Comment</p>
								</div>
							</a>
						</div>
						<div class="col-sm-2">
							<a href="#">
								<div class="row">
									<span class="glyphicon glyphicon-share-alt col-sm-1"></span>
									<p class="col-sm-1">Share</p>
								</div>
							</a>
						</div>
					</div>
					<hr>
				</div>
			</div>
		</div>
		<div class="col-sm-3 third">
			<div class="advert" ng-repeat="i in [1,2,3,4,5]">
				<div class="advert-header">
					<a href="#" class="right">Create Advert</a>
				</div><br><br>
				<div class="advert-contents">
					<img src="static-data/advert.jpg" width="200px" height="300px" /><br><br>
					<a href="#" class="left">Get the ultimate AirAsia Sale!</a><br><br>
					<a href="#" class="left">airasia.com</a>
				</div>
				<hr>
			</div>
		</div>
		<div class="col-sm-2 fourth">
			<div class="affix">
				<div class="smallfeed" infinite-scroll="loadMore()" infinite-scroll-distance="3">
					<div class="list-group">
						<a href="#" class="list-group-item" ng-repeat="feeds in smallFeed track by $index"><img ng-src="static-data/{{feeds.Dp}}" width="30px" height="30px" /><b>{{feeds.name}}</b> {{feeds.feed}}</a>
						<hr>
					</div>		
				</div>
				<hr>
				<div class="chat">
					<div class="list-group">
						<p>CONTACTS</p>
						<a href="#" class="list-group-item" ng-repeat="contact in contacts"><img src="static-data/default-dp.jpg" width="30px" height="30px" /><b>{{contact}}</b></a>
					</div>
				</div>
			</div>
		</div>
		</div>
	</div>
	</div>

<script src="bower_components\angular\angular.min.js"></script>
<script src="bower_components\jquery\dist\jquery.min.js"></script>
<script src="bower_components\ngInfiniteScroll\build\ng-infinite-scroll.min.js"></script>

<script src="bower_components\bootstrap\dist\js\bootstrap.min.js"></script>
<script src="scripts\app.js"></script>
</body>
</html>