.filler{
	
	background-color: indigo;
	height: 200px;
}
.material-icons.green600 { color: green;float: right; }
.material-icons.red600 { color: red;float: right; }

.card__actions{
	text-align: center;
}
.center-items{
	text-align: center;
	margin-bottom: 3%;
}
#donutchart{
	
	}
.incorrect{
  	border-bottom: 0.5px solid red;
}
.correct{
	border-bottom: 0.5px solid green;
}
.ques-box{
	margin: 60px;
}
